:root {
    --KlouderBlue™: #59b0f4;
    --Background: #222;
    --Foreground: #252525;
    --ButtonGradient: linear-gradient(to bottom,#333 0,#444 100%);
    --TextColor: #EEE;
}

html {
    background-color: #222 !important;
}

body {
    color: var(--TextColor) !important;
}

body > div > article {
    background-color: var(--Foreground) !important;
}

body > div > article > div {
    color: var(--TextColor) !important;
    border-color: var(--KlouderBlue™) !important;
}

body > div > article > div > a {
    color: var(--KlouderBlue™) !important;
}

body > div > div > h2 > a {
    color: var(--KlouderBlue™) !important;
}

body > div > div > h2 > span {
    color: var(--KlouderBlue™) !important;
}

body > div > div > div > div:nth-child(2) > table {
    background-color: var(--Foreground) !important;
    color: var(--TextColor) !important;
}

body > div > div > div > div:nth-child(2) > table > tbody > tr:nth-child(1) > th > small {
    color: var(--TextColor) !important;
}

body > div > div > div > div:nth-child(2) > table > tbody > tr:nth-child(5) > td > a {
    background-image: var(--ButtonGradient) !important;
    border-color: #1d1d1d !important;
    color: var(--TextColor) !important;
    text-shadow: none !important;
}

body > div > div > div > div:nth-child(2) > table > tbody > tr:nth-child(5) > td > button {
    background-image: var(--ButtonGradient) !important;
    border-color: #1d1d1d !important;
    color: var(--TextColor) !important;
    text-shadow: none !important;
}

body > div > div > div > div:nth-child(1) > a {
    background-image: var(--ButtonGradient) !important;
    border-color: #1d1d1d !important;
    color: var(--TextColor) !important;
    text-shadow: none !important;
}

body > div > div > div > div:nth-child(1) > button {
    background-image: var(--ButtonGradient) !important;
    border-color: #1d1d1d !important;
    color: var(--TextColor) !important;
    text-shadow: none !important;
}

.navbar-inverse {
    border-color: #353535 !important;
}

.btn-default:focus, .btn-default:hover {
    background-color: rgb(70, 70, 70) !important;
}

body > div > div > div > div:nth-child(2) > table > tbody > tr:nth-child(1) > th > small > a {
    color: var(--KlouderBlue™) !important;
}

body > footer > div > b > a {
    color: var(--KlouderBlue™) !important;
}

.nav a {
    color: #c2c2c2 !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
    background-image: linear-gradient(to bottom,#424242 0,#404040 100%) !important;
}

.form-control {
    background-color: #000 !important;
    color: var(--TextColor) !important;
}

#inputSearchKey
{
    background-color: #000 !important;
}

::placeholder{
    color: var(--TextColor) !important;
    opacity: .8;
}

.btn-primary {
    background-image: linear-gradient(to bottom,#333 0,#444 100%) !important;
}

.btn-primary:focus, .btn-primary:hover {
    background-color: rgb(70, 70, 70) !important;
}

.input-group-btn .btn-primary {
    border-color: #FFFFFF !important;
}

body > div > div > div > form > h2 {
    color: var(--TextColor) !important;
}

#inputEmail {
    background-color: #000 !important;
    color: var(--TextColor) !important;
}

#inputPassword {
    background-color: #000 !important;
    color: var(--TextColor) !important;
}

body > div > div > div > div > a {
    background-image: var(--ButtonGradient) !important;
    border-color: #1d1d1d !important;
    color: var(--TextColor) !important;
    text-shadow: none !important;
}