:root {
    --background: #222;
    --foreground: #252525;
    --textColor: #EEE;

    --ppColour: #8992e8;
    --alternate: #72a8ff;
    --buttonColour: #555555;
}

html {
    background-color: var(--background) !important;
}

body {
    color: var(--textColor) !important;
}

hr {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

body > div > article {
    background-color: #363636 !important;
    margin-top: 20px;
}

body > div > article > div {
    color: var(--textColor) !important;
    border-color: var(--ppColour) !important;
}

body > div > article > div > a {
    color: var(--alternate) !important;
}

body > div > div > h2 > a {
    color: var(--alternate) !important;
}

body > div > div > h2 > span {
    color: var(--alternate) !important;
}

table td, table th {
    border-color:rgba(219, 219, 219, 0.3) !important;
}

body > div > div > div > div:nth-child(2) > table {
    background-color: transparent !important;
    color: var(--textColor) !important;
}

body > div > div > div > div:nth-child(2) > table > tbody > tr:nth-child(1) > th > small {
    color: var(--textColor) !important;
}

a.button,
body > div > div > div > div:nth-child(1) > a,
body > div > div > div > div:nth-child(1) > button,
body > div > div > div > div:nth-child(2) > table > tbody > tr:nth-child(5) > td > a,
body > div > div > div > div:nth-child(2) > table > tbody > tr:nth-child(5) > td > button {
    background-color: var(--buttonColour) !important;
    color: rgb(240, 240, 240) !important;
    border: none;
    text-shadow: none !important;
}

.button.is-info {
    background-color: var(--ppColour) !important;
}

.button.is-link {
    background-color: #3273dc !important;
}

.navbar-inverse {
    border-color: #353535 !important;
}

.btn-default:focus,
.btn-default:hover {
    background-color: rgb(70, 70, 70) !important;
}

body > div > div > div > div:nth-child(2) > table > tbody > tr:nth-child(1) > th > small > a {
    color: var(--alternate) !important;
}

body > footer > div > b > a {
    color: var(--alternate) !important;
}

.nav a {
    color: #c2c2c2 !important;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .open > a {
    background-image: linear-gradient(to bottom, #424242 0, #404040 100%) !important;
}

.navbar.has-shadow {
    box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.07) !important;
}

.form-control {
    background-color: #000 !important;
    color: var(--textColor) !important;
}

.label,
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: var(--textColor) !important;
}

#inputEmail,
#inputPassword,
#inputPasswordConfirm,
#inputSearchKey {
    background-color: rgba(0, 0, 0, 0.46) !important;
    border-color: #4a4a4a !important;
    color: var(--textColor) !important;
}

::placeholder {
    color: var(--textColor) !important;
    opacity: .8;
}

.btn-primary {
    background-image: linear-gradient(to bottom, #333 0, #444 100%) !important;
}

.btn-primary:focus,
.btn-primary:hover {
    background-color: rgb(70, 70, 70) !important;
}

.input-group-btn .btn-primary {
    border-color: #FFFFFF !important;
}

body > div > div > div > form > h2 {
    color: var(--textColor) !important;
}

body > div > div > div > div > a {
    background-image: var(--buttonColour) !important;
    border-color: #1d1d1d !important;
    color: var(--textColor) !important;
    text-shadow: none !important;
}

body > div > div > div > div:nth-child(2) > table > tbody > tr:nth-child(6) > td:nth-child(1) > div > form > button {
    background-color: var(--background) !important;
    color: var(--textColor) !important;
}
